.card {
    display: flex;
    flex-direction: column;
    width: 318px;
    overflow: hidden;
    background: #FFF;
    border: 1px solid #ECECEE;
    border-radius: 12px;
    justify-content: space-between;

    &__button {
      width: 100%;
    }

    &__image {
      position: relative;
      height: 218.441px;
      overflow: hidden;

      img {
        display: block;
        width: 100%;
      }
    }

    &__body {
    display: flex;
    flex-direction: column;
    margin: 16px;
    flex: 1;
    justify-content: space-between;

      &_price {
display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 14px;
    margin-bottom: 22px;

        &--text {
          color: #A3A3A3;
          font-weight: 500;
          font-size: 14px;

        }
      }
    }

  &--title {
    font-weight: 700;
    font-size: 20px;

  }
}
