.marketplace {
    display: flex;
    gap: 28px;

    &__main {
      flex: 1 1;
    }

   &__sidebar {
      width: 315px;
    }

    &__items {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      margin-bottom: 30px;
    }
  }
