.sign {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fff;

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__wrapper {
    min-width: 1337px;
  }

  &__block {
    width: 400px;
    height: 468px;
    margin: 0 156px;

    form > button {
      margin: 32px 0;
    }
  }

  &__preview {
    overflow: hidden;
    margin: 0 32px;
    border-radius: 12px;
  }

}
